<configuration>

    <appender name="debuglog" class="ch.qos.logback.core.FileAppender">
        <file>logs/debug.log</file>
        <append>false</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>%-20(%logger{0}:%line) %-8([%level]) %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>off</level>
        </filter>
        <encoder>
            <pattern>%-20(%logger{0}:%line) %-8([%level]) %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="console" />
        <appender-ref ref="debuglog" />
    </root>
</configuration>
